@import "node_modules/bootstrap/scss/bootstrap.scss";

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: $black;
    border-radius: 0.3rem;
  }

  h1{
    color: green;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: auto;
  }



